@charset "UTF-8";

.main {
    * {
        a:link,
        a:visited {
            color: rgb(22, 22, 22);
            background-color: transparent;
            text-decoration: none;
        }
    }
    padding: 3rem 0rem;

    .navigation {
        margin: 0rem 6rem;
        margin-bottom: 1rem;
        a {
            color: rgba(22, 22, 22, 0.75);
        }
    }

    hr#first {
        background-color: rgba(142, 142, 142, 0.55);
        height: 0.5px;
        border: 0;
    }
}