<%@ page language="java" contentType="text/html; charset=UTF-8"
pageEncoding="UTF-8"%>
<!DOCTYPE html>
<html lang="vi">
  <head>
    <meta charset="UTF-8" />
    <title>Trang chủ</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      type="text/css"
      href="../css/topBarMenu.css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="../css/navigation.css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="../css/indexproduct.css"
    />

    <link
      href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="container">
      <div class="topBarMenu style-block">
        <div class="menuLeft">
          <a href="../index.html" class="menu-item logo">
            <img
            	src="views\resources\images\e-comerce-high-resolution-logo-transparent.png"
          	/>
          </a>

          <a href="productList_byCategory.html" class="menu-item category">
            <span class="category-text">Danh mục sản phẩm</span>
            <img
              src="views\resources\images\Arrow_drop_down_big.png"
              alt=""
              class="dropdown-icon"
            />
          </a>
          <div class="menu-item">Liên hệ</div>
        </div>
        <div class="menuRight">
          <div class="icon search-bar">
            <img src="resources\images\search.png" alt="" class="" />
            <p>Tra cứu</p>
          </div>
          <a href="cart.html" class="icon icon-cart">
            <img src="resources\images\shopping-cart.svg" alt="" class="cart" />
          </a>
          <div class="icon icon-user">
            <img src="resources\images\user.svg" alt="" class="user" />
            <div class="login-logout-panel">
            	<a href="login.html">Đăng nhập</a>
            	<hr>
            	<a href="register.html">Đăng ký</a>
            </div>
          </div>
        </div>
      </div>
      <div class="main">
        <div class="navigation">
          <a href="">Trang chủ</a>
          <a href=""> / Laptop</a>
          <a href=""> / Xiaomi</a>
        </div>
        <hr />
        <div class="product-page">
          <div class="images">
            <div class="sub-images">
              <img
                class="sub-image"
                src="resources/images/product-page\img1.png"
                alt="Image 1"
              />
              <img
                class="sub-image"
                src="resources/images/product-page\img2.png"
                alt="Image 2"
              />
              <img
                class="sub-image"
                src="resources/images/product-page\img3.png"
                alt="Image 3"
              />
              <img
                class="sub-image"
                src="resources/images/product-page/img4.png"
                alt="Image 4"
              />
            </div>
            <img
              class="main-image"
              src="resources/images/product-page/img-main.png"
              alt="Main Image"
            />
          </div>
          <div class="product-info">
            <div class="product-details">
              <div class="product-name">
                Xiaomi Book Pro 2022 6600H 6800H 16GB RAM 1TB SSD OLED 2.8K
              </div>
              <div class="product-id">Mã sản phẩm: 28136931</div>
            </div>
            <div class="product-price">17.500.000₫</div>
            <form action="" class="option-form">
              <div class="option-container color">
                <div class="option-title">Cấu hình:</div>
                <div class="option-container spec">
                  <div class="option-list">
                    <div class="option">R5 6600H, 512 GB</div>
                    <div class="option">R7 6800H, 512 GB</div>
                    <div class="option">R7 6800H, 1 TB</div>
                  </div>
                </div>
              </div>

              <div class="option-container color">
                <div class="option-title">Màu sắc:</div>
                <div class="option-list">
                  <div class="option">Bạc kim loại</div>
                  <div class="option">Đen vũ trụ</div>
                  <div class="option">Xanh lục bảo</div>
                </div>
              </div>
              <div class="buy-now-container">
                <div class="quantity-container">
                  <div class="quantity-plus">-</div>
                  <div class="quantity-number">1</div>
                  <div class="quantity-minus">+</div>
                </div>
                <div class="buy-now-button">Mua ngay</div>
              </div>
            </form>
          </div>
        </div>
        <div class="product-description">
          <header>Mô tả sản phẩm</header>

          <div class="hr"><hr /></div>
          <div class="content">
            <p>
              Nói về thiết kế, mình nghĩ đây sẽ là một trong những điểm đáng giá
              của Xiaomi Book Pro 14 2022, máy sở hữu vẻ ngoài đơn giản nhưng
              không kém phần tinh tế, với mặt lưng phẳng và các góc cạnh được
              gia công CNC cực kỳ chi tiết, kết hợp với màu xám bạc làm nổi bật
              logo Mi quen thuộc được khắc chính giữa mặt lưng máy.<br /><br />Ngoài
              ra, khu vực mặt sau của Mi Book Pro 2022 còn được áp dụng công
              nghệ xử lý nhám, có khả năng chống bám mồ hôi và dấu vân tay khi
              cầm, đảm bảo máy luôn sạch đẹp.<br /><br />Laptop Xiaomi Book Pro
              14 OLED 2022 Phiên Bản AMD Ryzen với thiết kế khung kim loại CNC
              màn hình OLED 2.8K tần số quét 90Hz hứa hẹn mang lại trại nghiệm
              mượt mà.<br /><br />小米笔记本 Pro 14 2022 锐龙版
              R5-6600H/16GB/512GB/集显/90Hz<br /><br />Mặt A của Xiaomi Book Pro
              14 Ruilong Edition áp dụng công nghệ chạm khắc tích hợp CNC và
              phun cát gốm 170 gauge, có kết cấu kim loại và thiết kế hơi cong,
              xen kẽ giữa cứng và mềm.<br /><br />Thân máy mỏng 14,9mm sẽ không
              làm bạn khó chịu khi bỏ vào túi xách và thân máy chỉ nặng 1,4kg sẽ
              giảm bớt gánh nặng và áp lực cho bạn, giúp bạn di chuyển nhẹ
              nhàng.<br /><br />Màn hình chính E4 OLED mới của Samsung được tùy
              chỉnh dành cho máy tính xách tay có độ phân giải 2,8K, 1,07 tỷ màu
              và độ chính xác màu chuyên nghiệp Delta E Dù là bản vẽ hay phim,
              nó đều có màu sắc tinh tế và chính xác hơn.<br /><br />Xiaomi Book
              Pro 14 Ryzen Edition là một chiếc laptop rất mạnh mẽ, dù là ngoại
              hình, thiết kế hay hiệu năng đều rất phù hợp cho những người làm
              văn phòng nhưng hay di chuyển.<br /><br />Nếu bạn chỉ muốn một
              chiếc notebook mỏng nhẹ với hình thức đẹp, hiệu năng cao và thời
              lượng pin dài thì chắc chắn nó sẽ là sự lựa chọn tốt dành cho bạn.
            </p>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
