<!DOCTYPE html>
<html lang="vi">
  <head>
    <meta charset="UTF-8" />
    <title>Trang chủ</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      type="text/css"
      href="../css/topBarMenu.css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="../css/navigation.css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="../css/productList_byCategory.css"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="container">
      <div class="topBarMenu style-block">
        <div class="menuLeft">
          <a href="../index.html" class="menu-item logo">
            <img
            	src="views\resources\images\e-comerce-high-resolution-logo-transparent.png"
          	/>
          </a>

          <a href="productList_byCategory.html" class="menu-item category">
            <span class="category-text">Danh mục sản phẩm</span>
            <img
              src="views\resources\images\Arrow_drop_down_big.png"
              alt=""
              class="dropdown-icon"
            />
          </a>
          <div class="menu-item">Liên hệ</div>
        </div>
        <div class="menuRight">
          <div class="icon search-bar">
            <img src="resources\images\search.png" alt="" class="" />
            <p>Tra cứu</p>
          </div>
          <a href="cart.html" class="icon icon-cart">
            <img src="resources\images\shopping-cart.svg" alt="" class="cart" />
          </a>
          <div class="icon icon-user">
            <img src="resources\images\user.svg" alt="" class="user" />
            <div class="login-logout-panel">
            	<a href="login.html">Đăng nhập</a>
            	<hr>
            	<a href="register.html">Đăng ký</a>
            </div>
          </div>
        </div>
      </div>
      <div class="main">
        <div class="navigation">
          <a href="">Trang chủ</a>
          <a href=""> / Gaming Gear</a>
        </div>
        <hr id="first" />

        <!-- SHOW SẢN PHẨM -->
        <div class="show-product">
          <p class="title">Product Example</p>
          <hr id="second" />
          <form action="" class="filter">
            <input
              type="checkbox"
              id="increase-by-price"
              name="increase-by-price"
            />
            <label for="increase-by-price" class="filter-option"
              >Giá tăng dần</label
            >
            <input
              type="checkbox"
              id="decrease-by-price"
              name="decrease-by-price"
            />
            <label for="decrease-by-price" class="filter-option"
              >Giá giảm dần</label
            >
            <input
              type="checkbox"
              id="increase-by-alphabet"
              name="increase-by-alphabet"
            />
            <label for="increase-by-alphabet" class="filter-option"
              >Tên A-Z</label
            >
            <input
              type="checkbox"
              id="decrease-by-alphabet"
              name="decrease-by-alphabet"
            />
            <label for="decrease-by-alphabet" class="filter-option"
              >Tên Z-A</label
            >
          </form>

          <div class="product-list">
            <a href="product.htm" class="product">
              <img
                class="product-image"
                src="${pageContext.request.contextPath}/${product.img_path}"
                alt="Product Image"
              />
              <div class="product-name">${product.name}</div>
              <div class="product-price">${product.price}₫</div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
