<%@ page language="java" contentType="text/html; charset=UTF-8"
pageEncoding="UTF-8"%>
<!DOCTYPE html>
<html lang="vi">
  <head>
    <meta charset="UTF-8" />
    <title>Trang chủ</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      type="text/css"
      href="../css/topBarMenu.css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="../css/register.css"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="container">
      <div class="topBarMenu">
        <div class="menuLeft">
          <a href="../index.html" class="menu-item logo">
            <img
            	src="views\resources\images\e-comerce-high-resolution-logo-transparent.png"
          	/>
          </a>

          <a href="productList_byCategory.html" class="menu-item category">
            <span class="category-text">Danh mục sản phẩm</span>
            <img
              src="views\resources\images\Arrow_drop_down_big.png"
              alt=""
              class="dropdown-icon"
            />
          </a>
          <div class="menu-item">Liên hệ</div>
        </div>
        <div class="menuRight">
          <div class="icon search-bar">
            <img src="resources\images\search.png" alt="" class="" />
            <p>Tra cứu</p>
          </div>
          <a href="cart.html" class="icon icon-cart">
            <img src="resources\images\shopping-cart.svg" alt="" class="cart" />
          </a>
          <div class="icon icon-user">
            <img src="resources\images\user.svg" alt="" class="user" />
            <div class="login-logout-panel">
            	<a href="login.html">Đăng nhập</a>
            	<hr>
            	<a href="register.html">Đăng ký</a>
            </div>
          </div>
        </div>
      </div>
      <div class="main-content register">
        <form class="form">
          <div class="title">Đăng ký</div>
          <input type="text" class="input-field name" placeholder="Họ và tên" />
          <input type="text" class="input-field email" placeholder="Email" />
          <input
            type="text"
            class="input-field number"
            placeholder="Số điện thoại"
          />
          <input
            type="password"
            class="input-field password"
            placeholder="Mật khẩu"
          />
          <button class="submit-button">Tạo tài khoản</button>
          <div class="register">
            <span class="register-text">Đã có tài khoản? </span>
            <a class="link" href="login.htm">Đăng nhập</a>
          </div>
        </form>
        <img
          class="promo-img"
          src="resources/images/regis-img.png"
          alt="Promo Image"
        />
      </div>
    </div>
  </body>
</html>
